/* General styles */
body {
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    background-color: #2D2D2D;
    color: white;
    box-sizing: border-box;
}

a {
    text-decoration: none; /* Remove underline for links */
    color: #e8e8e8;
}

a:hover, a:focus {
    color: #b3bdff; /* Hover effect: Light purple */
}

/* Navigation bar styles */
.navbar {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 98%; /* Make sure the navbar spans the full width */
    top: 0; /* Align the navbar to the top of the page */
    z-index: 10;
    background-color: #1B1B1B; /* Navbar background color */
    border-bottom: 2px solid #FFA500; /* Orange border for navbar */
}

.logo {
    font-family: 'Signika Negative', sans-serif;
    font-size: 2.5rem;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    font-size: 1.5rem;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover, a:focus {
    color: #b3bdff; /* Hover color for links */
}

/* Hero Section */
.hero-section {
    position: relative;
    width: 100%;
    height: 90vh; /* Full viewport height */
    background: url('img/ml.jpg') no-repeat center center;
    background-size: cover; /* Ensures the image covers the whole section */
    color: white; /* Text color */
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    padding-top: 70px;
}

.hero-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-buttons .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.75rem;
}

.hero-content {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Adds a semi-transparent background to text */
    border-radius: 10px; /* Rounds the corners */
}

.btn-primary {
    background-color: #FFA500; /* Orange */
}

.btn-primary:hover {
    background-color: #fabd4d; /* Lighter orange */
}

.btn-secondary {
    background-color: #6A0DAD; /* Purple */
}

.btn-secondary:hover {
    background-color: #a148e0; /* Darker purple */
}

/* Overview Section */
.overview {
    padding: 60px 20px;
    text-align: center;
    background-color: #292828;
    font-size: 1.75rem;
}

/* Card Effect */
.algorithm-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 35px;
}

.card {
    background-color: #6A0DAD;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    margin: 20px;
}

.card img {
    width: 500px; /* Adjust size as needed */
    height: 500px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto; /* Center the image */
}

.card h3 {
    font-size: 1.75rem;
    margin-bottom: 10px;
    font-family: 'Source Sans 3', sans-serif;
}

.card p {
    font-size: 1.5rem;
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    opacity: 0.8; /* Slightly transparent text */
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3);
}

/* Footer */
.footer {
    background-color: #1B1B1B;
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
    color: #FFA500; /* Orange */
    margin-top: 40px;
}

/* Dropdown Menu Styles */
.dropdown .dropbtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    font: inherit;
    color: white;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(51, 51, 51, 0.7); /* Slightly transparent black */
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(87, 87, 87, 0.7); /* Slightly transparent hover effect */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Hamburger Menu for Mobile */
.menu-toggle {
    display: none;
}

/* Media Query for Mobile (Small Screens) */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        background-color: #1B1B1B; /* Dropdown background */
        position: absolute;
        top: 60px; /* Adjust according to navbar height */
        left: 0;
        width: 100%;
        display: none; /* Initially hide the dropdown */
    }

    .nav-links li {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .nav-links.show {
        display: flex; /* Show the menu when toggled */
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .menu-toggle {
        display: block; /* Show the hamburger menu on mobile */
        cursor: pointer;
        font-size: 2rem;
        color: #FFA500;
        margin-left: auto;
        padding-right: 20px;
    }

    /* Adjust the hero section for mobile */
    .hero-section {
        height: auto; /* Auto height for content on smaller screens */
        text-align: center; /* Center align text */
    }

    .hero-section h1 {
        font-size: 2.5rem; /* Smaller font size for mobile */
    }
}

/* About Section */
.about-section {
    padding: 20px;
    margin-top: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.about-section h1, .about-section h2, .about-section h3 {
    margin-top: 60px;
    margin-bottom: 20px;
}

.about-section h1 {
    font-size: 2.5rem;
}

.about-section h2 {
    font-size: 2rem;
}

.about-section p, .about-section ul {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

/* Guides Section */
.guides-section {
    padding: 20px;
    background-color: #292828;
}

.guides-section h1 {
    margin-top: 80px;
    font-size: 2.5rem;
}

.guides-section p {
    font-size: 1.5rem;
}

.guide-card {
    background-color: #424242;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

.guide-card h2 {
    font-size: 2rem;
    margin-top: 0;
}

.guides-section .btn {
    background-color: #6A0DAD;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 1.5rem;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover effect */
}

.guides-section .btn:hover {
    background-color: #8B5EDC; /* Lighter shade on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow for a lifted effect */
}

.guides-section .btn:active {
    transform: scale(0.98); /* Slightly reduce size on click for a pressed effect */
}


/* Explore Section */
.explore-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.explore-section >h1 {
    margin-top: 60px;
    font-size: 2rem;
}

.explore-section .example-card {
    background-color: white;
    width: 500px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    text-align: center;
    padding: 20px;
    position: relative;
    color: black;
    text-decoration: none; /* Remove underline on hover */
}

.explore-section .example-card img {
    width: 500px; /* Adjust size as needed */
    height: 500px;
    object-fit: cover; /* Maintain aspect ratio */
}

.explore-section .example-card h2 {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.explore-section .example-card p {
    font-size: 1.5rem;
}

/* Hover effect for the card */
.explore-section .example-card:hover {
    transform: translateY(-10px); /* Make the card float up */
    box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.8);
    background-color: #f0f0f0; /* Change background color on hover */
    color: #333; /* Adjust text color if needed */
}

/* Theory Section */
.theory-section {
    padding: 20px;
    background-color: #292828;
    margin-top: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.theory-section h1 {
    margin-top: 50px;
    font-size: 2.5rem;
}

.theory-section h2 {
    font-size: 2rem;
    margin-top: 40px;
    color: white;
}

.theory-section p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #e8e8e8;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 6px;
}

.theory-section ul {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #e8e8e8;
    margin-bottom: 20px;
}

.theory-section img {
    width: 90%;
    height: auto;
    margin: 20px auto 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    display: block;
}

.formula {
            font-family: 'Arial', sans-serif;
            font-size: 24px;
            line-height: 1.6;
        }
        .sqrt {
            text-decoration: overline;
            font-size: 1.2em;
        }
        .sup {
            vertical-align: super;
            font-size: 0.8em;
        }
        .sub {
            vertical-align: sub;
            font-size: 0.8em;
        }

/* Steps Section */
.steps-section {
    border-radius: 5px;
    margin-top: 10px;
}

.steps-section h2 {
    font-size: 2rem;
    color: #FFA500;
    margin-bottom: 10px;
}

.steps-section ol {
    color: white;
    font-size: 1.5rem;
}

.guide-image {
    display: block; /* Centers the image horizontally */
    margin: 20px auto; /* Center the image and add top/bottom spacing */
    max-width: 80%; /* Ensures responsiveness */
    height: auto; /* Maintains the aspect ratio */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow */
    border-radius: 8px; /* Optional: rounds the corners */
}

.knn_example .btn {
    background-color: #6A0DAD;
    margin-top:20px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 1.5rem;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover effect */
}


