<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>k-Means Results</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <!-- Link to the styles.css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='algo_styles.css') }}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="logo">Machine Learning Made Visual (MLMV)</div>
        <div class="menu-toggle" id="mobile-menu">&#9776;</div>
        <ul class="nav-links" id="nav-links">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Algorithms</a>
                <div class="dropdown-content">
                    <a href="/knn">k-NN</a>
                    <a href="/kmeans">k-Means</a>
                </div>
            </li>
            <li><a href="/explore">Pre-Built Examples</a></li>
            <li><a href="/theory">Theory</a></li>
            <li><a href="/guides">Guides</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>

    <div class="content-container">
        <h1><i>k</i>-Means Clustering Animation</h1>

        <div class="instructions-and-theory">
            <!-- Basic Theory Section -->
            <div class="knn-theory">
                <p><strong>How <i>k</i>-Means Works</strong></p>
                <ul>
                    <li>Partition the data into <i>k</i> clusters based on similarity.</li>
                    <li>Assign each data point to the nearest cluster centroid.</li>
                    <li>Iteratively update the centroids based on the mean of points in each cluster.</li>
                    <li>Stop when centroids stabilise or a maximum number of iterations is reached.</li>
                </ul>
            </div>
            <!-- Input Instructions -->
            <div class="input-instructions">
                <p><strong>Instructions</strong></p>
                <p><b>Please enter your values in a comma-separated format.</b> For example, for x/y-coordinates, enter values like 1,2,3,4 and for initial centroid, use values like 0.5,2.5 for cx and cy.</p>
                <p><b>Note:</b> Ensure there are no spaces between the values.</p>
            </div>
        </div>

        <!-- Input Form -->
        <form id="kmeansForm" class="input-form single-line-form">
            <label for="x_data">x:</label>
            <input type="text" id="x_data" name="x_data" required>

            <label for="y_data">y:</label>
            <input type="text" id="y_data" name="y_data" required>

            <label for="k_value">k:</label>
            <input type="number" id="k_value" name="k_value" min="1" required>

            <label for="cx">Initial Centroids X:</label>
            <input type="text" id="cx" name="cx" required>

            <label for="cy">Initial Centroids Y:</label>
            <input type="text" id="cy" name="cy" required>

            <button type="reset">Reset</button>
            <button type="button" id="submitForm">Run</button>
        </form>

        <!-- Results Section -->
        <div class="result-container">
            <h2>Result</h2>
            <div id="resultMessage"></div>
            <div class="animation-container" id="animationContainer"></div>
        </div>
        
        <div class="interpretation">
            <ul>
                <li><p><strong>Centroids:</strong> The <i>k</i> centroids (marked as red stars) represent the center of each cluster. These are updated during each iteration of the algorithm based on the average of the points within each cluster.</p></li>
                <li><p><strong>Cluster Assignment:</strong> Each data point is assigned to the nearest centroid based on distance. This creates distinct groups, which are colored differently.</p></li>
                <li><p><strong>Iteration Process:</strong> The algorithm iteratively moves the centroids based on the mean position of the points assigned to them. This continues until the centroids stabilise.</p></li>
                <li><p><strong>Convergence:</strong> The animation shows how the centroids evolve with each iteration. Once the centroids stop moving, the algorithm has converged, and the clusters are finalised.</p></li>
                <li><p><b>Buttons and Animation Controls</b></p></li>
                    <ul>
                        <li><p><b>Play</b>: Start the Animation.</p></li>
                        <li><p><b>Pause</b>: Stop the Animation.</p></li>
                        <li><p><b>Step Forward/Backward</b>: Move frame by frame to analyse the decision-making process.</p></li>
                        <li><p><b>Once</b>: The animation plays through a single time and stops.</p></li>
                        <li><p><b>Loop</b>: The animation repeats continuously.</p></li>
                        <li><p><b>Reflect</b>: The animation plays forward and then reverses back to the start.</p></li>
                        <li><p><b>Speed Slider</b>: Adjusts the speed of the animation, allowing you to slow down or speed up the process.</p></li>
                    </ul>
            </ul>
        </div>
    </div>

    <footer class="footer">
        <p>© 2024 Loo Pei Yin. All rights reserved.</p>
    </footer>

    <!-- JQuery and AJAX Script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Hamburger menu toggle
        const menuToggle = document.getElementById('mobile-menu');
        const navLinks = document.getElementById('nav-links');
        menuToggle.addEventListener('click', () => {
            navLinks.classList.toggle('show');
        });
        
        // Handle form submission with AJAX
        $('#submitForm').on('click', function () {
            const formData = $('#kmeansForm').serialize();
            $.ajax({
                url: "{{ url_for('kmeans.index') }}", 
                type: "POST",
                data: formData,
                success: function (response) {
                    if (response.animation_html) {
                        $('#animationContainer').html(response.animation_html);
                    } else if (response.error) {
                        alert(response.error); 
                    }
                },
                error: function () {
                    alert('An error occurred while processing the request.');
                }
            });
        });
    </script>
</body>
</html>
